<h1>Welcome</h1>
<p>Dashboard</p>

<% if can? :read, :city %>
    <%= link_to "Cities", cities_path, class: 'btn btn-success' %>
<% end %>
<% if can? :read, :terminal %>
    <%= link_to "Terminals", terminals_path, class: 'btn btn-success' %>
<% end %>
