<h1>Editing terminal</h1>

<%= render "form", terminal: @terminal %>

<br>

<div>
  <%= link_to "Show this terminal", @terminal, class: 'btn btn-success' %>
  <%= link_to "Back to terminals", terminals_path, class: 'btn btn-secondary' %>
</div>
